<a href="https://colab.research.google.com/github/aqqua23/class2021Fall/blob/main/syntax%20%ED%95%84%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2021/11/08 MON**

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

for구문 = 같은 패턴을 여러번 반복하게 해줌.

for i in a 에서 a에는 list가 들어가지고, 이것들이 i에 들어가서 반복됨.

In [ ]:
a = [1, 2, 3, 4]

print(a[0])
print(a[1])
print(a[2])
print(a[3])

1

In [ ]:
a = [1,2,3,4]
for i in a :
  print(i)
  print(i+1)
print('hello')

1
2
2
3
3
4
4
5
hello

a = [1,2,3,4,....10000]일 경우 매우 반복적이기 때문에, for을 사용함.

"for   in    :"을 반드시 작성해야 함.

**구문 (for loop)**
a에 있는 것에서 제일 첫번째 부터 제일 끝까지 i라는 변수에 넣는다.

for ~ in ~ : /n    print

indentation(들여쓰기)이 적용된 부분까지 구문이 적용된다.

*** 아랫부분은 중요한 내용이다**

숫자의 index를 사용.  여기서 a의 길이가 4이므로 range(4)라고 하단에 작성함.

len(a)를 하면 직접 구하지 않아도 길이를 계산되게 할 수 있다.

In [ ]:
a = [1,2,3,4]
for i in range(4) :
  print(a[i])

1
2
3
4

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

위의 사례에서 range(5)를 할 경우 없는 index를 사용한 것이기 때문에 오류가 뜬다.

len도, print도 function이다.
print시엔 parenthesis를 한다. 괄호 속엔 입력이 들어간다.

In [1]:
a = [1,2,3,4]

len(a)

4

위의 경우에서 len은 누군가 만들어놓은 함수이다. 이것이 제일 마지막에 있으면 print를 사용하지 않아도 함수가 바로 작동한다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

range(4)가 되면 4번이 돈다는 뜻이다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple


if구문 = "~할 때"만 적용되도록 해줌.

equal sign(=)을 두개 쓰면 (==) 이것은 대입이 아니라 정말 같다는 것을 의미한다.

else, if 쓸 때 뒤에 ":"을 붙여야 한다.

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [ ]:
a=0
if a ==1:
  print(a)
else:
  print(a+1)

1

## **2011-11-10 WED**



**이중으로 되어 있는 for 구조** (nested for)

* nested = 내포된

아래의 경우 내부에선 3,4 (2번), 외부에선 1,2(2번), 총 2*2 = 4번 돈다.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

**for와 if가 list 안에 들어간 경우** (list comprehension)

아래에선 if가 for loop의 밑에 있다고 생각하면 된다.

for i in a

  if i>=2

위와 같은 경우임. 결국 "b를 i로 채워서 list로 만들어라"는 뜻.

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

len(i)>=4면 list up 하라는 뜻.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']